<form class="form-card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>{{ 'RESET_PASSWORD' | translate }}</h2>
  <div class="form-field">
    <label for="password"
      ><span>{{ 'NEW_PASSWORD' | translate }} <span class="req">*</span></span></label
    >
    <input
      type="password"
      formControlName="password"
      id="password"
      required
      autocomplete="new-password"
    />
  </div>
  <div class="form-field">
    <label for="confirmPassword"
      ><span>{{ 'CONFIRM_PASSWORD' | translate }} <span class="req">*</span></span></label
    >
    <input
      type="password"
      formControlName="confirmPassword"
      id="confirmPassword"
      required
      autocomplete="new-password"
    />
    @if (form.hasError('mismatch') && form.get('confirmPassword')?.touched) {
      <span class="error">{{ 'PASSWORDS_DONT_MATCH' | translate }}</span>
    }
  </div>
  @if (error()) {
    <div class="error">{{ error() }}</div>
  }
  <div class="buttons-list">
    <a class="btn-outline" routerLink="/auth/login">{{ 'CANCEL' | translate }}</a>
    <button type="submit" [disabled]="loading()">{{ 'RESET_PASSWORD' | translate }}</button>
  </div>
</form>
