<div class="combobox-wrapper" [class.combobox-readonly]="readOnly">
  <div class="combobox-input-wrapper">
    <input
      [value]="value"
      [placeholder]="placeholder"
      (input)="onInput($event)"
      (blur)="onBlur()"
      (keydown)="onKeyDown($event)"
      (focus)="onFocus()"
      [disabled]="disabled"
      autocomplete="off"
      class="combobox-input"
    />
    <span class="combobox-arrow" aria-hidden="true">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 10L12 16L18 10"
          stroke="#888"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
  </div>
  @if (showDropdown() && (filteredOptions().length || value)) {
    <div class="combobox-dropdown">
      @for (option of filteredOptions(); track option) {
        <div class="combobox-option" (mousedown)="selectOption(option)">
          {{ option.charAt(0).toUpperCase() + option.slice(1) }}
        </div>
      }
      @if (value && !isValueInOptions()) {
        <div class="combobox-add" (mousedown)="onAddNew()">
          {{ 'COMBOBOX_ADD' | translate }} {{ value.charAt(0).toUpperCase() + value.slice(1) }}
        </div>
      }
    </div>
  }
</div>
