<form class="form-card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>{{ 'REGISTER' | translate }}</h2>
  <div>
    <label for="name"><span>{{ 'NAME' | translate }} <span class="req">*</span></span></label>
    <input type="text" formControlName="name" id="name" required />
    @if (serverErrors()['name']) {
      <small class="field-error">{{ serverErrors()['name'][0] }}</small>
    }
  </div>
  <div>
    <label for="email"><span>{{ 'EMAIL' | translate }} <span class="req">*</span></span></label>
    <input type="email" formControlName="email" id="email" required />
    @if (serverErrors()['email']) {
      <small class="field-error">{{ serverErrors()['email'][0] }}</small>
    }
  </div>
  <div>
    <label for="password"><span>{{ 'PASSWORD' | translate }} <span class="req">*</span></span></label>
    <input type="password" formControlName="password" id="password" required />
    @if (serverErrors()['password']) {
      <small class="field-error">{{ serverErrors()['password'][0] }}</small>
    }
    <small class="helper-text">
      {{ 'PASSWORD_HELPER' | translate }}
      <ul>
        <li>{{ 'PASSWORD_LETTER' | translate }}</li>
        <li>{{ 'PASSWORD_DIGIT' | translate }}</li>
        <li>{{ 'PASSWORD_SPECIAL' | translate }}</li>
      </ul>
    </small>
  </div>
  <div>
    <label for="confirmPassword"><span>{{ 'CONFIRM_PASSWORD' | translate }} <span class="req">*</span></span></label>
    <input type="password" formControlName="confirmPassword" id="confirmPassword" required />
  </div>
  <div class="buttons-list">
    <button type="submit">{{ 'REGISTER' | translate }}</button>
  </div>
  @if (error()) {
    <div class="error">{{ error() | translate }}</div>
  }
  <div class="link">
    <span>{{ 'ALREADY_ACCOUNT' | translate }}</span>
    <a routerLink="/auth/login">{{ 'BACK_TO_LOGIN' | translate }}</a>
  </div>
</form>
